<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="Some of My Own">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container">
          <div class="content">
            <h2>
              Testing out a <strong>test page</strong>.
            </h2>
          </div>

          <div class="links">
            <a href="https://github.com/MasonEgger/python-slackbot-sampleapp" target="_blank"
              rel="noopener noreferrer"><strong>Sample Slackbot using Flask</strong>
              <span>Learn how to build a Slackbot in Python</span>
            </a>
            <a href="https://www.digitalocean.com/docs/app-platform/languages-frameworks/python/" target="_blank"
              rel="noopener noreferrer"><strong>DigitalOcean App Platform Docs for Flask</strong>
              <span>DigitalOcean's reference documentation for Flask</span>
            </a>
            <a href="https://www.digitalocean.com/docs/app-platform/" target="_blank" rel="noopener noreferrer"><strong>App
                Platform Documentation</strong><span>Learn about DigitalOcean's App Platform</span></a>
            <a href="https://www.digitalocean.com/docs/droplets/how-to/" target="_blank" rel="noopener noreferrer"><strong>App
                Platform API Documentation</strong>
              <span>REST API Documentation for App Platform</span>
            </a>
          </div>

        </div>
      
        <div id="stripes">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      
      </body>
</html>